.imgContainer {
    margin-bottom: 15px;
    
}

.list {
    align-items: center !important;
    text-align: center;
    font-size: 12px;
    
}

.list-li {
    border: none;
}

.search {
   padding-bottom: 20px;
   padding-top: 20px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
    
    width: 100%!important;
}

.btn-search {
    background: #13a3b8 !important;
 
}

.btn-search:hover {
    background: rgb(39, 99, 109)!important;
 
}